## Tuples Basic Operations

In [8]:
my_tuple = ('A','B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J')

In [9]:
my_tuple[8]

'I'

In [10]:
my_tuple[-1]

'J'

In [11]:
my_tuple[-2]

'I'

In [12]:
#We can slice a tuple to retrieve a subtuple
my_tuple[:2]

('A', 'B')

In [15]:
my_tuple[::1]

('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J')

In [14]:
# We can additionally provide a step to our subscript
my_tuple[::2]

('A', 'C', 'E', 'G', 'I')

In [20]:
# Nested elements can be accessed by chaining subscripts
nested_tuple = (1, (2, 3), (4, 5, 6), (7, 8, (9, 10)))

In [21]:
nested_tuple [3]

(7, 8, (9, 10))

In [22]:
nested_tuple [3] [2]

(9, 10)

## Operations on Tuples

In [23]:
my_tuple = (9, 3, 2, 4, 5)
len (my_tuple)

5

In [24]:
sum (my_tuple)

23

In [25]:
min(my_tuple)

2

In [26]:
max(my_tuple)

9

In [27]:
sorted (my_tuple) # returns a list because tuples are not mutable

[2, 3, 4, 5, 9]

In [28]:
tuple(sorted(my_tuple)) # this is a new tuple

(2, 3, 4, 5, 9)

In [29]:
sorted (my_tuple, reverse = True)

[9, 5, 4, 3, 2]

In [30]:
tuple(sorted (my_tuple, reverse = True))

(9, 5, 4, 3, 2)

In [31]:
(1, 2, 3) + (4, 5, 6) # extending a tuple (operator overloading)

(1, 2, 3, 4, 5, 6)

In [32]:
(1, 2, 3) * 3 # repeating a tuple (operator overloading)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [33]:
1 in (1, 2, 3)

True

In [34]:
2 not in (1, 2, 3)

False

In [35]:
(1, 2) in (1, 2, 3) # (1, 2) is not an element of the tuple

False

In [36]:
(1,2) in (1,2, (1,2 ))

True

In [ ]:
# Tuples are immutable and therefore do not possess any methods which would change their contents

## Control Flow on Tuples

In [37]:
#Given a nested tuple containing pairs, can you sort the tuple by the second value of the pair?

pairs = (('a', 4), ('b', 2), ('c', 3), ('d', 1))

In [38]:
sorted_list = sorted(pairs, key = lambda x: x[1]) # access the second element for each pair while sorting
print(sorted_list) # sorted() outputs a list

[('d', 1), ('b', 2), ('c', 3), ('a', 4)]

In [39]:
print(tuple(sorted_list))

(('d', 1), ('b', 2), ('c', 3), ('a', 4))

Given a nested tuple containing three pairs, can you make a new nested tuple containing two triplets such that the first element of each pair lies
in the first triplet while the second element of each of each pair lies in the second triplet? For instance, the input ( (1, 'a'), (2, "b'), (3,
'c')) should give ( (1, 2, 3), ('a' , "b', "c")) .
Tip: Use the fact that a function outputs tuples when returning multiple values to your advantage.

In [40]:
my_pairs = ( (1, 'a'), (2, 'b'), (3, 'c'))

In [41]:
def make_triplets(pairs):
    first_triplet = tuple([x[0] for x in pairs]) # make a list of every first element in the pairs and turn it into a tuple
    second_triplet = tuple([x[1] for x in pairs]) # make a list of every second element in the pairs and turn it into a tuple

    return first_triplet,second_triplet

In [42]:
make_triplets(my_pairs)

((1, 2, 3), ('a', 'b', 'c'))

## Class Basics and Inheritance

In [43]:
class Course:
    def __init__(self, name, duration):
        self.name = name
        self.duration = duration

    def __repr__(self):
        return f"Course(name={self.name}, code={self.code})"

In [44]:
course1 = Course("Mathematics", "3 months")
print(course1.name)
print(course1.duration)

Mathematics
3 months

In [ ]:
class Student:
    def __init__(self, name, age, course) :
        self.name = name
        self.age = age
        self.course =course

    def introduction(self):
        return f"Hello, I am {self.name}, a {self.age}-year-old student enrolled in {self.course.name}"

In [ ]:
student1 = Student("Alice", 20, course1)
print(student1.introduction())

In [ ]:
class Student:
    total_students=0
    def __init__(self, name, age, course):
        self.name = name
        self.age = age
        self.course=course
        Student.total_students += 1

    def introduction(self):
            return f"Hello, I am {self.name}, a {self.age}-year-old student enrolled in {self.course.name}"
    @classmethod
    def get_total_students(cls):
        return f"Total students enrolled: {cls. total_students}"

In [56]:
student1 = Student("Alice", 20, course1)
student2 = Student("Bob", 22, course1)
print(Student.get_total_students())

Total students enrolled: 4

In [69]:
## Inheritance Example

# Define the Student and GraduateStudent classes
class Student:
    def __init__(self, name, age, course):
        self.name = name
        self.age = age
        self.course = course

    def introduction(self):
        return f"Hello, I am {self.name}, a {self.age}-year-old student enrolled in {self.course.name}"

class GraduateStudent(Student):
    def __init__(self, name, age, course, research_topic):
        super().__init__(name, age, course) # Call the parent class constructor
        self.research_topic=research_topic

    def research(self):
        return f"{self.name} is researching on {self.research_topic}."

    def introduction(self) :
        return f"Hello, I am {self.name}, a graduate student researching on {self.research_topic} in {self.course}."

In [70]:
# Create a GraduateStudent object
grad_student1 = GraduateStudent ("David", 24, "Data Science", "AI for Healthcare")
grad_student1.name, grad_student1.course, grad_student1.age, grad_student1. research_topic

('David', 'Data Science', 24, 'AI for Healthcare')

In [71]:
grad_student1.research()

'David is researching on AI for Healthcare.'

In [72]:
grad_student1.introduction()

'Hello, I am David, a graduate student researching on AI for Healthcare in Data Science.'